/* header */
header {
    font-size: 20px;
    background-color: #00027e;
    color: #ffffff;
    padding: 20px;
    text-align:left;
    font-family: "Times New Roman", Times, sans-serif;
    box-shadow: 0 30px 100px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a {
    color: inherit; /* Inherit color from the header */
    text-decoration: none; /* Remove underline from the link */
}

.headerLoginSignup {
    display: inline-block;
  }
.headerLoginSignup .button {
    margin-left: 10px;
    padding: 8px 12px;
    text-decoration: none;
    color: white;
    background-color: #00027e;
    border: none;
    cursor: pointer;
}
.header_icons {
    position: absolute;
    top: 52px; 
    right: 20px; 
}
.header_icons a {
    margin-left: 30px; /* Adjust spacing between icons as needed */
}
.acc_icon,
.notif_bell {
    width: 30px; /* Adjust icon size as needed */
    cursor: pointer;
}
.acc_icon:hover,
.notif_bell:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6);
}
.acc_icon:active,
.notif_bell:active {
    transform: translateY(2px);
}

/* footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 30%;
    text-align:left;
    font-size: x-small;
    margin-left: 15px;
    padding: 10px 10px;
}

/* body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

/* request */
.hire {
    font-family: "Times New Roman", Times, sans-serif;
    font-size: medium;
    margin: 0px;
    text-align: center;
    background: #00027e;
    color: white;
    padding: 5px;
    border: #00027e;
    border-radius: 10px;    
    margin-bottom: 15px;
}
.req-form {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.submit {
    display: block;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 50px;
    background-color: #00027e;
    color: white;
    font-weight: 600;
    text-decoration: none;
    width: 10%;
    align-items: center;
    border: 4px solid rgba(0, 0, 0, 0.384);
}
.submit:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.submit:active {
    transform: translateY(2px); /* Add pressed effect when clicked */
}

/* Home page and Home2 page*/
/* Home page and Home2 page */
.intro {
    font-family:'Times New Roman', Times, serif;
    background-color: rgba(155, 155, 155, 0.411);
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 150px;
    margin-left: 50px;
    max-width: 80%;
    color: rgb(255, 255, 255);
    margin-top: -2%;
}
.homeP .confirmation {
    position: fixed;
    top: 25%;
    left: 50.5%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 100px;
    opacity: 0; /* Initially hide the confirmation message */
    font-family: 'Times New Roman', Times, serif;
    margin-top: 130px;
    font-weight: bolder;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}
.introContext{
    margin-left: 20px;
    font-size: 18px;
    font-size: 23px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}
.homeP h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    margin-left: 5.5%;
    color: white;
    text-shadow: #080808;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
    margin-top: 22%;
}
.homeP {
    background-image: url('../images/4pillars.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
}
.background-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.request-button {
    position: absolute;
    bottom: 30px;
    right: 20px;
    transition: transform 0.3s ease;
}

.request-button button {
    font-family: "Times New Roman", Times, sans-serif;
    font-weight: bold;
    font-size: x-large;
    color: #00027e;
    padding: 15px 30px;
    border-radius: 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-right: 30px;
    border: 4px solid rgba(0, 0, 0, 0.384);
}

.request-button button:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.request-button button:active {
    transform: translateY(2px); /* Add pressed effect when clicked */
}


/* login & signup */
.login_signup-Form {
    background-color: #ffffffcb;
    padding: 20px;
    width: 50%; 
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    /* Center content vertically and horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_signup-Form input[type="email"],
.login_signup-Form input[type="password"],
.login_signup-Form input[type="text"] {
    padding: 3px;
    width: 100%;
    max-width: 300px;
    border: none; 
    border-bottom: 1px solid #080808; 
    background: none;
    height: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.textButton {
    font-weight: bold;
    cursor: pointer;
    font-size: small;
    text-decoration-line: none;
    margin-left: 190px;
    color: grey;
}
.signup_button a,
.login_button a {
    background-color:#00027e;
    border-radius: 20px; 
    border: none; 
    padding: 10px 18px;
    font-size: 18px;
    color:white;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    color:white;
    border: 4px solid rgba(0, 0, 0, 0.384);
}
.signup_button ,
.login_button {
    margin-top: 50px;
}
.signup_button a:hover,
.login_button a:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.signup_button a:active,
.login_button:active {
    transform: translateY(2px);
}
.logo {
    width: 30%;
}
.login_signup { 
    font-size: smaller;
    color: grey;
    margin-top: 50px;
}
.textButton-signup { 
    color: #00027e;
    text-decoration: none;
    margin-top: -10px;
    font-weight: bold;
}

/* costumer service */
.c_s-body .back-btn {
    text-align: end;
    margin-top: -50px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.c_s-body h2 {
    font-size: x-large;
    font-family: "Times New Roman", Times, sans-serif;
    margin-left: 22px;
} 
.c_s-body h3 {
    font-size: large;
    font-family: "Times New Roman", Times, sans-serif;
} 
.c_s-body li {
    font-size: small;
    font-family:Arial, Helvetica, sans-serif;
    color: grey;
} 
.c_s-body {
    background-color: whitesmoke;
}
.c_s-form {
    background-color: white;
    padding: 25px;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.c_s-form label {
    font-size: large;
    font-family: "Times New Roman", Times, sans-serif;
    margin-bottom: 20px;
}
.c_s-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}
.c_s-form button {
    display: block;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 50px;
    background-color: #00027e;
    color: white;
    font-weight: 600;
    margin-left: auto;
}
.c_s-form button:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.c_s-form button:active {
    transform: translateY(2px); /* Add pressed effect when clicked */
}

/* submitted */
.submitted-body .confirmation {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    opacity: 0; /* Initially hide the confirmation message */
}

.submitted-body h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.checkicon {
    object-fit: cover;
    width: 5%;
    margin-top: 30px;
}
.submitted-body li {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -15px;
    font-weight: 600;
    color: grey;
    margin-bottom: 30px;
}
.submitted-body { /* body */
    text-align: center;
}
.sp_buttons a{
    display: block;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 50px;
    background-color: #00027e;
    color: white;
    font-weight: 800;
    border: none;
    text-decoration: none;
    max-width: 10%;
    transform: translateX(238%);
    text-align: center;
}
.sp_buttons a:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.sp_buttons:active {
    transform: translatey(2px);
}
.sp_buttons {
    margin-bottom: 20px;
}

/* notifications */
.notif-body h2{
    font-size: 40px;
    font-family: "Times New Roman", Times, sans-serif;
    margin-top: -3%;
}
.notif-body .back-btn {
    text-align: end;
    margin-right: 4%;
    margin-top: 1%;
}
.notification-box {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.notifications {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 96%;
}
/* profile */
.profile-section h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.profile-section p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;

}
.profile-section {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}
.profile_picture {
    width: 15%;
    border: 5px solid grey;
    border-radius: 100%;
}
.accounts-container a {
    padding: 10px 20px;
    background-color: #e41616;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    left: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    font-weight: 550;
    border: 4px solid rgba(0, 0, 0, 0.384);
}
.accounts-container nav {
    text-align: end;
    margin-top: 30px;
    margin-right: 24px;
    margin-bottom: 10px;
}
.accounts-container a:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.accounts-container nav:active {
    transform: translateY(2px);
}
.profile-section button {
    padding: 10px 17px;
    background-color: #00027e;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    left: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    cursor: pointer;
    font-weight: 550;
}
.profile-section .edit-btn {
    margin-top: 30px;
    margin-bottom: 30px;
}
.edit-btn:hover{
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.edit-btn:active {
    transform: translateY(2px);
}

.back-btn {
    margin-top: -33px;
    margin-left: 30px;
}

/* back button */
.back-btn button{
    padding: 8px 15px;
    background-color: #00027e;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    left: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    cursor: pointer;
    font-weight: 550;
    font-size: x-small;
}
.back-btn button:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.back-btn button:active {
    transform: translateY(2px);
}