header {
    font-size: 20px;
    background-color: #00027e;
    color: #ffffff;
    padding: 20px;
    text-align:left;
    font-family: "Times New Roman", Times, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
header a {
    color: inherit; /* Inherit color from the header */
    text-decoration: none; /* Remove underline from the link */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

/* request */
.hire {
    font-family: "Times New Roman", Times, sans-serif;
    font-size: medium;
    margin: 0px;
    text-align: center;
    background: #00027e;
    color: white;
    padding: 5px;
    border: #00027e;
    border-radius: 10px;    
    margin-bottom: 15px;
}
form {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #00027e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Home page*/
.intro {
    font-family: "Times New Roman", Times, sans-serif;
    text-align: left;
    background-color: white;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 250px;
    margin-right: 150px;
    margin-left: -40px;
}
.introContext{
    margin-left: 100px;
}
.homeP {
    background-color: #00027e;
}
.request-button {
    position:absolute;
    bottom: 30px;
    right: 20px;
    transition: transform 0.3s ease;
}
.request-button button {
    padding: 15px 30px; 
    border-radius: 20px; 
    font-size: 18px; 
    border: none;
    cursor: pointer;
}
.request-button button:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.request-button button:active {
    transform: translateY(2px); /* Add pressed effect when clicked */
}