<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADNU Helper - Home Page</title>
    <link rel="stylesheet" href="/TrendsProject/public/styles.css">
</head>
<body class = "homeP">
    <header>
        <a href="home.html" id="homeLink">
            <h1>ADNU HELPER</h1>
        </a>
        <div class="headerLoginSignup">
            <a href="login.html" class="button">Login</a>
            <a href="signup.html" class="button">Signup</a>
        </div>
    </header>

    <img src="../images/4pillars.jpg" alt="4 pillars" class="pillars">

    <div class = "intro">
        <h2 class = "introContext">Introduction</h2>
        <p class = "introContext">
            The AdNU Helper seeks to improve the overall effectiveness of university operations by 
            offering a single platform where everyone in campus can seek help. A help that gets you 
            what you need or what you want in just a certain amount of time. Having a trustworthy website 
            that guarantees you'll receive what you request.
        </p>
    </div>

    <div class="request-button">
        <a href="request.html"><button>Request Now</button></a>
    </div>

    <footer>
        <div id="footerHome"><p>&copy; 2024 ADNU Helper. All rights reserved.</p></div>
    </footer>

</body>
</html>