<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADNU Helper</title>
    <link rel="stylesheet" href="/TrendsProject/public/styles.css">
</head>
<body>
    <header>
            <h1>ADNU HELPER</h1>
    </header>

    <h2> Hire a helper</h2>

    <form action="#" method="post">
        <label for="task">Task Description:</label>
        <textarea id="task" name="task" rows="4" placeholder="Describe the task you need help with"></textarea>

        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name" placeholder="Your Name">

        <label for="email">Your Email:</label>
        <input type="text" id="email" name="email" placeholder="Your Email">

        <label for="email">Your Mobile Number:</label>
        <input type="text" id="m_num" name="m_num" placeholder="Your Mobile Number">

        <input type="submit" value="Submit">
    </form>

</body>
</html>
