<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADNU Helper - Login</title>
    <link rel="stylesheet" href="/static/users/styles.css">
</head>
<body class="homeP">
    <style>
        .homeP {
    background-image: url('/static/users/images/4pillars.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
}
    </style>
    <div class="login">
        <!-- action for database-->
        <form action="#" method="POST" class="login_signup-Form">  

            <img src="/static/users/images/icon.png" alt="icon" class="logo">

            <input type="email" name="email" id="email" placeholder="Enter your Email" required><br>
            <input type="password" name="password" id="password" placeholder="Enter your Password" required><br>
            
            <a href="#" class="textButton">Forgot Password?</a>
            
            <div class="login_button">
                
            <a href="{% url 'home2' %}" id="loginLink">Login</a>

            </div>
            
            <div class="login_signup"><p>Don't Have An Account?</p></div>
            <a href="{% url 'register' %}" class="textButton-signup">Sign Up</a>

        </form>
    </div>

    <script src="/static/users/javascript/login.js"></script>
</body>
</html>